$color-white: #ffffff;
$color-red: #ff0000;
$color-blue: #004080;
$color-blue_light: #6585e8;
$color-blue_lighter: #90a7ee;
$color-blue_lightest: #dde4fa;
//$color-green: #8cd9b3;
$color-grey: #808080;
$color-green-light: #40bf80;
$color-grey_light: #f2f2f2;
$color-green: #206040;

$max-width: 1900px;